/**************************************** General ****************************************/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #767676;
  position: relative;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

.highlight-text {
  color: #3c4146;
}

.aqua-text {
  color: #74b1be;
}

.small {
  color: #888888;
}

a {
  color: #74b1be;
}

a:hover {
  color: #74b1be;
}

.logo-font {
  font-family: 'Maven Pro', sans-serif;
}

/*************************************** Navigation **************************************/

.w-bg-dark {
  background-color: #2f3241;
}

.w-navbar-dark .navbar-brand {
  color: #74b1be;
  font-family: 'Maven Pro', sans-serif;
}

.w-navbar-dark .navbar-brand:hover,
.w-navbar-dark .navbar-brand:focus {
  color: #9feaf9;
}

.w-navbar-dark .navbar-nav .nav-link {
  color: #74b1be;
}

.w-navbar-dark .navbar-nav .nav-link:hover,
.w-navbar-dark .navbar-nav .nav-link:focus {
  color: #9feaf9;
}

.w-navbar-dark .navbar-nav .nav-link.disabled {
  color: #6a97a1;
}

.w-navbar-dark .navbar-nav .show > .nav-link,
.w-navbar-dark .navbar-nav .active > .nav-link,
.w-navbar-dark .navbar-nav .nav-link.show,
.w-navbar-dark .navbar-nav .nav-link.active {
  color: #9feaf9;
}

.w-navbar-dark .navbar-toggler {
  color: #74b1be;
  border-color: #74b1be;
}

.w-navbar-dark .navbar-toggler-icon {
  color: #74b1be;
}

.w-navbar-dark .navbar-text {
  color: #74b1be;
}

.w-navbar-dark .navbar-text a {
  color: #74b1be;
}

.w-navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
  color: #9feaf9;
}

/****************************************** Home *****************************************/

#home {
  background-color: #2f3241;
}

#home .container .row {
  background-color: #2f3241;
  min-height: 100vh;
}

.logo {
  color: #74b1be;
  margin-bottom: 8px;
}

.logo i {
  font-size: 8rem;
}

@media (max-width: 576px) {
  .logo i {
    font-size: 6rem;
  }
}

.main-title {
  text-align: center;
  padding: 15px 5px;
  color: #74b1be;
}

.main-title h1 {
  font-size: 2.2rem;
}

@media (max-width: 576px) {
  .main-title h1 {
    font-size: 1.5rem;
  }
}

.main-description {
  color: #74b1be;
  font-size: 1.7rem;
  margin-bottom: 8px;
}

@media (max-width: 576px) {
  .main-description {
    font-size: 1.2rem;
  }
}

.explore {
  margin-top: 10px;
}

.explore .btn-outline-info {
  color: #74b1be;
  border-color: #74b1be;
}

.explore .btn-outline-info:hover {
  color: #2f3241;
  background-color: #74b1be;
  border-color: #74b1be;
}

.explore .btn-outline-info:not(:disabled):not(.disabled):active,
.explore .btn-outline-info:not(:disabled):not(.disabled).active {
  color: #2f3241;
}

/**************************************** About me ***************************************/

#about-me {
  padding: 3.5rem 1rem;
  background-color: #fff;
}

.personal-info {
  text-align: center;
}

.profile {
  border-radius: 50%;
  width: 200px;
  margin-bottom: 15px;
}

/***************************************** Skills ****************************************/

#skills {
  padding: 3.5rem 1rem;
  background-color: #f8f8f9;
}

#skills i {
  font-size: 70px;
  margin: 10px 10px;
}

#skills svg {
  margin: 10px;
  width: 70px;
  height: 70px;
  fill: #74b1be;
}

#skills svg:hover {
  fill: #90c9d6;
}

/**************************************** Projects ***************************************/

#projects {
  padding: 3.5rem 1rem;
  background-color: #fff;
}

.btn-width {
  width: 100px;
}

.img-pj {
  width: 100%;
  box-shadow: 0 5px 15px 0 rgba(32,33,36,0.28);
}

#projects .btn-outline-info {
  color: #74b1be;
  border-color: #74b1be;
}

#projects .btn-outline-info:hover {
  color: #fff;
  background-color: #74b1be;
  border-color: #74b1be;
}

/**************************************** Contact ****************************************/

#contact {
  padding-top: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  background-color: #2f3241;
  color: #74b1be;
}

.footer-nav ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.footer-nav ul li {
  margin-bottom: 5px;
}

.footer-nav a {
  color: #74b1be;
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: #9feaf9;
  text-decoration: none;
}

.btn-send {
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  background-color: #3a585f;
  border: none;
  transition: all 0.2s;
  color: #74b1be;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #74b1be;
}

.contact-form input:focus::placeholder,
.contact-form textarea:focus::placeholder {
  color: #fff;
}

#contact .btn-outline-info {
  color: #74b1be;
  border-color: #74b1be;
}

#contact .btn-outline-info:hover {
  color: #2f3241;
  background-color: #74b1be;
  border-color: #74b1be;
}

.credits {
  font-size: 80%;
  color: #74b1be;
  text-align: center;
}