/**************************************** General ****************************************/

body {
  font-family: 'Roboto', sans-serif;
  color: #767676;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

/*************************************** Navigation **************************************/

.w-bg-dark {
  background-color: #2f3241;
}

.w-navbar-dark .navbar-brand {
  color: #74b1be;
  font-family: 'Maven Pro', sans-serif;
}

.w-navbar-dark .navbar-brand:hover,
.w-navbar-dark .navbar-brand:focus {
  color: #9feaf9;
}

.w-navbar-dark .navbar-nav .nav-link {
  color: #74b1be;
}

.w-navbar-dark .navbar-nav .nav-link:hover,
.w-navbar-dark .navbar-nav .nav-link:focus {
  color: #9feaf9;
}

.w-navbar-dark .navbar-nav .nav-link.disabled {
  color: #6a97a1;
}

.w-navbar-dark .navbar-nav .show > .nav-link,
.w-navbar-dark .navbar-nav .active > .nav-link,
.w-navbar-dark .navbar-nav .nav-link.show,
.w-navbar-dark .navbar-nav .nav-link.active {
  color: #9feaf9;
}

.w-navbar-dark .navbar-toggler {
  color: #74b1be;
  border-color: #74b1be;
}

.w-navbar-dark .navbar-toggler-icon {
  color: #74b1be;
}

.w-navbar-dark .navbar-text {
  color: #74b1be;
}

.w-navbar-dark .navbar-text a {
  color: #74b1be;
}

.w-navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
  color: #9feaf9;
}

/****************************************** Home *****************************************/

#home {
  background-color: #2f3241;
}

#home .container .row {
  background-color: #2f3241;
  min-height: 100vh;
}

.logo {
  color: #74b1be;
  margin-bottom: 8px;
}

.logo i {
  font-size: 8rem;
}

.main-title {
  text-align: center;
  padding: 15px 5px;
  color: #74b1be;
}

.main-title h1 {
  font-size: 2.2rem;
}

.main-description {
  color: #74b1be;
  font-size: 1.7rem;
  margin-bottom: 8px;
}

.explore {
  margin-top: 10px;
}

.btn-outline-info {
  color: #74b1be;
  border-color: #74b1be;
}

.btn-outline-info:hover {
  color: #2f3241;
  background-color: #74b1be;
  border-color: #74b1be;
}

/**************************************** About me ***************************************/

#about-me {
  padding: 2.5rem 1rem;
  background-color: #fff;
}

.personal-info {
  text-align: center;
}

.highlight-text {
  color: #3c4146;
}

.profile {
  border-radius: 50%;
  width: 200px;
  margin-bottom: 15px;
}

#skills {
  padding: 2.5rem 1rem;
  background-color: #f8f8f9;
}