<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ page.title }}</title>
  
  {% include styles.html %}
</head>

<body>
  <!-- Navegación -->  
  {% include navigation-es.html %}
  <!-- /.Navegación -->
  
  <!-- Contenido --> 
  {{ content }}  
  <!-- /.Contenido -->

  <!-- Footer -->  
  {% include footer-es.html %}  
  <!-- /.Footer -->
  
  <!-- Scripts -->  
  {% include scripts.html %}  
  <!-- /.Scripts -->
</body>

</html>